<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>To do List</title>
		<link href="css/styles.css" rel="stylesheet"/>
	</head>
	<body>
<<<<<<< HEAD
		<div class="box" id="heading">
			<h1><%= kindOfDay %></h1>
		</div>

		<div class="box">
=======
		<h1><%= kindOfDay %></h1>
		<ul>
<<<<<<< HEAD
>>>>>>> 4892858... Change HTML list items to part of the items array
=======
>>>>>>> 4892858... Change HTML list items to part of the items array
			<% for (var i=0; i < newListItems.length; i++){ %>
				<div class="item">
					<input type="checkbox"/>
					<p>
						<%= newListItems[i] %>
					</p>
				</div>
			<% } %>

		<form method="POST" action="/" class="item">
			<input type="text" name="newitem" placeholder="New Item" autocomplete="off"/>
			<button type="submit">+</button>
		</form>
		</div>
	</body>
</html>
